@import 'tailwindcss';

svg.provider-icon {
  @apply w-3 h-3 me-1.5 md:w-4 md:h-4 md:me-2;
}

.tfa-red {
  @apply from-red-600 to-red-500 group-hover:from-red-600 group-hover:to-red-500;
}
.tfa-orange {
  @apply from-orange-600 to-orange-500 group-hover:from-orange-600 group-hover:to-orange-500;
}
.tfa-amber {
  @apply from-amber-600 to-amber-500 group-hover:from-amber-600 group-hover:to-amber-500;
}
.tfa-yellow {
  @apply from-yellow-600 to-yellow-500 group-hover:from-yellow-600 group-hover:to-yellow-500;
}
.tfa-lime {
  @apply from-lime-600 to-lime-500 group-hover:from-lime-600 group-hover:to-lime-500;
}
.tfa-green {
  @apply from-green-600 to-green-500 group-hover:from-green-600 group-hover:to-green-500;
}
.tfa-emerald {
  @apply from-emerald-600 to-emerald-500 group-hover:from-emerald-600 group-hover:to-emerald-500;
}
.tfa-teal {
  @apply from-teal-600 to-teal-500 group-hover:from-teal-600 group-hover:to-teal-500;
}
.tfa-cyan {
  @apply from-cyan-600 to-cyan-500 group-hover:from-cyan-600 group-hover:to-cyan-500;
}
.tfa-sky {
  @apply from-sky-600 to-sky-500 group-hover:from-sky-600 group-hover:to-sky-500;
}
.tfa-blue {
  @apply from-blue-600 to-blue-500 group-hover:from-blue-600 group-hover:to-blue-500;
}
.tfa-indigo {
  @apply from-indigo-600 to-indigo-500 group-hover:from-indigo-600 group-hover:to-indigo-500;
}
.tfa-violet {
  @apply from-violet-600 to-violet-500 group-hover:from-violet-600 group-hover:to-violet-500;
}
.tfa-purple {
  @apply from-purple-600 to-purple-500 group-hover:from-purple-600 group-hover:to-purple-500;
}
.tfa-fuchsia {
  @apply from-fuchsia-600 to-fuchsia-500 group-hover:from-fuchsia-600 group-hover:to-fuchsia-500;
}
.tfa-pink {
  @apply from-pink-600 to-pink-500 group-hover:from-pink-600 group-hover:to-pink-500;
}
.tfa-rose {
  @apply from-rose-600 to-rose-500 group-hover:from-rose-600 group-hover:to-rose-500;
}
.tfa-slate {
  @apply from-slate-600 to-slate-500 group-hover:from-slate-600 group-hover:to-slate-500;
}
.tfa-gray {
  @apply from-gray-600 to-gray-500 group-hover:from-gray-600 group-hover:to-gray-500;
}
.tfa-zinc {
  @apply from-zinc-600 to-zinc-500 group-hover:from-zinc-600 group-hover:to-zinc-500;
}
.tfa-neutral {
  @apply from-neutral-600 to-neutral-500 group-hover:from-neutral-600 group-hover:to-neutral-500;
}
.tfa-stone {
  @apply from-stone-600 to-stone-500 group-hover:from-stone-600 group-hover:to-stone-500;
}
