@import 'tailwindcss';

body {
  @apply flex flex-col bg-gray-100 dark:bg-gray-900 h-dvh;
}

.alert {
  @apply w-full p-1 pb-1.5 lg:p-2 lg:pb-2;

  & .alert-container{
    @apply flex items-center w-full px-2 py-1.5 text-gray-700 rounded-md lg:px-4 lg:py-2 lg:rounded-lg bg-green-50 dark:text-gray-100 dark:bg-green-900;
  }
}

.layout {
  @apply bg-(image:--bg-image-md) md:bg-(image:--bg-image-lg) lg:bg-none bg-cover bg-center p-1;

  & .layout-container {
    @apply flex flex-row items-center justify-center flex-none h-full lg:block;

    & .layout-content {
      @apply flex flex-col lg:flex-row lg:h-full lg:bg-white rounded-xl lg:rounded-r-4xl lg:rounded-l-md backdrop-blur-sm lg:backdrop-blur-none bg-white/90 dark:bg-gray-800/85 text-gray-900 dark:text-white;

      & .layout-content-main {
        @apply flex flex-col items-center justify-center flex-none px-10 py-6 space-y-2 md:py-8 md:px-14 lg:basis-2xl;
      }

      & .layout-content-side {
        @apply hidden lg:block lg:flex-auto w-full h-full rounded-4xl bg-(image:--bg-image-md) bg-cover bg-center;
      }
    }
  }
}

.provider-button {
  @apply relative w-full flex-1 grow inline-flex items-center justify-center p-0.5 text-sm font-medium rounded-lg hover:text-white focus:ring-3  focus:ring-gray-400 focus:outline-none dark:focus:ring-gray-400 bg-linear-to-br;

  & .provider-button-inner {
    @apply relative text-sm md:text-base w-full inline-flex items-center px-3 py-2 md:px-5 md:py-2.5 transition-all ease-in duration-75 rounded-md bg-white hover:bg-transparent dark:bg-gray-900 group-hover:bg-transparent group-hover:dark:bg-transparent;
  }
}

svg.provider-icon {
  @apply w-3 h-3 me-1.5 md:w-4 md:h-4 md:me-2;
}

.tfa-red {
  @apply from-red-600 to-red-500 group-hover:from-red-600 group-hover:to-red-500 
    dark:from-red-800 dark:to-red-700 group-hover:dark:from-red-800 group-hover:dark:to-red-700;
}

.tfa-orange {
  @apply from-orange-600 to-orange-500 group-hover:from-orange-600 group-hover:to-orange-500 
    dark:from-orange-800 dark:to-orange-700 group-hover:dark:from-orange-800 group-hover:dark:to-orange-700;
}

.tfa-amber {
  @apply from-amber-600 to-amber-500 group-hover:from-amber-600 group-hover:to-amber-500 
    dark:from-amber-800 dark:to-amber-700 group-hover:dark:from-amber-800 group-hover:dark:to-amber-700;
}

.tfa-yellow {
  @apply from-yellow-600 to-yellow-500 group-hover:from-yellow-600 group-hover:to-yellow-500 
    dark:from-yellow-800 dark:to-yellow-700 group-hover:dark:from-yellow-800 group-hover:dark:to-yellow-700;
}

.tfa-lime {
  @apply from-lime-600 to-lime-500 group-hover:from-lime-600 group-hover:to-lime-500 
    dark:from-lime-800 dark:to-lime-700 group-hover:dark:from-lime-800 group-hover:dark:to-lime-700;
}

.tfa-green {
  @apply from-green-600 to-green-500 group-hover:from-green-600 group-hover:to-green-500 
    dark:from-green-800 dark:to-green-700 group-hover:dark:from-green-800 group-hover:dark:to-green-700;
}

.tfa-emerald {
  @apply from-emerald-600 to-emerald-500 group-hover:from-emerald-600 group-hover:to-emerald-500 
    dark:from-emerald-800 dark:to-emerald-700 group-hover:dark:from-emerald-800 group-hover:dark:to-emerald-700;
}

.tfa-teal {
  @apply from-teal-600 to-teal-500 group-hover:from-teal-600 group-hover:to-teal-500 
    dark:from-teal-800 dark:to-teal-700 group-hover:dark:from-teal-800 group-hover:dark:to-teal-700;
}

.tfa-cyan {
  @apply from-cyan-600 to-cyan-500 group-hover:from-cyan-600 group-hover:to-cyan-500 
    dark:from-cyan-800 dark:to-cyan-700 group-hover:dark:from-cyan-800 group-hover:dark:to-cyan-700;
}

.tfa-sky {
  @apply from-sky-600 to-sky-500 group-hover:from-sky-600 group-hover:to-sky-500 
    dark:from-sky-800 dark:to-sky-700 group-hover:dark:from-sky-800 group-hover:dark:to-sky-700;
}

.tfa-blue {
  @apply from-blue-600 to-blue-500 group-hover:from-blue-600 group-hover:to-blue-500 
    dark:from-blue-800 dark:to-blue-700 group-hover:dark:from-blue-800 group-hover:dark:to-blue-700;
}

.tfa-indigo {
  @apply from-indigo-600 to-indigo-500 group-hover:from-indigo-600 group-hover:to-indigo-500 
    dark:from-indigo-800 dark:to-indigo-700 group-hover:dark:from-indigo-800 group-hover:dark:to-indigo-700;
}

.tfa-violet {
  @apply from-violet-600 to-violet-500 group-hover:from-violet-600 group-hover:to-violet-500 
    dark:from-violet-800 dark:to-violet-700 group-hover:dark:from-violet-800 group-hover:dark:to-violet-700;
}

.tfa-purple {
  @apply from-purple-600 to-purple-500 group-hover:from-purple-600 group-hover:to-purple-500 
    dark:from-purple-800 dark:to-purple-700 group-hover:dark:from-purple-800 group-hover:dark:to-purple-700;
}

.tfa-fuchsia {
  @apply from-fuchsia-600 to-fuchsia-500 group-hover:from-fuchsia-600 group-hover:to-fuchsia-500 
    dark:from-fuchsia-800 dark:to-fuchsia-700 group-hover:dark:from-fuchsia-800 group-hover:dark:to-fuchsia-700;
}

.tfa-pink {
  @apply from-pink-600 to-pink-500 group-hover:from-pink-600 group-hover:to-pink-500 
    dark:from-pink-800 dark:to-pink-700 group-hover:dark:from-pink-800 group-hover:dark:to-pink-700;
}

.tfa-rose {
  @apply from-rose-600 to-rose-500 group-hover:from-rose-600 group-hover:to-rose-500 
    dark:from-rose-800 dark:to-rose-700 group-hover:dark:from-rose-800 group-hover:dark:to-rose-700;
}

.tfa-slate {
  @apply from-slate-600 to-slate-500 group-hover:from-slate-600 group-hover:to-slate-500 
    dark:from-slate-800 dark:to-slate-700 group-hover:dark:from-slate-800 group-hover:dark:to-slate-700;
}

.tfa-gray {
  @apply from-gray-600 to-gray-500 group-hover:from-gray-600 group-hover:to-gray-500 
    dark:from-gray-800 dark:to-gray-700 group-hover:dark:from-gray-800 group-hover:dark:to-gray-700;
}

.tfa-zinc {
  @apply from-zinc-600 to-zinc-500 group-hover:from-zinc-600 group-hover:to-zinc-500 
    dark:from-zinc-800 dark:to-zinc-700 group-hover:dark:from-zinc-800 group-hover:dark:to-zinc-700;
}

.tfa-neutral {
  @apply from-neutral-600 to-neutral-500 group-hover:from-neutral-600 group-hover:to-neutral-500 
    dark:from-neutral-800 dark:to-neutral-700 group-hover:dark:from-neutral-800 group-hover:dark:to-neutral-700;
}

.tfa-stone {
  @apply from-stone-600 to-stone-500 group-hover:from-stone-600 group-hover:to-stone-500 
    dark:from-stone-800 dark:to-stone-700 group-hover:dark:from-stone-800 group-hover:dark:to-stone-700;
}

.red-to-yellow {
    @apply from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200  dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400;
}
